{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="{% static 'homecss/style.css' %}" />
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Datasets Information</h2>
          </div>
          <div class="col-md-2 text-right mb-5">
            <a href="adminPanel"
              ><h2 class="btn btn-secondary">Admin panel</h2></a
            >
          </div>
          <div class="col-md-2 text-right mb-5">
            <a href="logout"><h2 class="btn btn-secondary">Logout</h2></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-wrap">
              <table class="table table-striped">
                <thead>
                  <tr class="table09-head">
                    <th>Dataset Name</th>
                    <th>Date & Time</th>
                    <th>Action</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for dataset in datasets %}
                  <tr>
                    <td>{{ dataset.field1 }}</td>
                    <td>{{ dataset.field2 }}</td>
                    {% if dataset.field3 == 'Pending' %}
                    <td>
                      <a
                        href="cancelReq/{{ forloop.counter }}"
                        style="color: red"
                        ><u>CANCEL</u></a
                      >
                    </td>
                    <td>
                      <div class="btn btn-warning">{{ dataset.field3 }}</div>
                    </td>
                    {% elif dataset.field3 == 'Approved'%}
                    <td>
                      <a
                        href="download/{{ forloop.counter }}"
                        style="color: green"
                        ><u>VIEW</u></a
                      >
                    </td>
                    <td>
                      <div class="btn btn-success">{{ dataset.field3 }}</div>
                    </td>
                    {% elif dataset.field3 == 'Rejected' %}
                    <td></td>
                    <td>
                      <div class="btn btn-danger">{{ dataset.field3 }}</div>
                    </td>
                    {% else %}
                    <td>
                      <a
                        href="/requestDataset/{{ forloop.counter }}"
                        style="color: blue"
                        ><u>REQUEST</u></a
                      >
                    </td>
                    <td><div class="btn btn-primary">Not Requested</div></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
                <button id="trbutton" data-toggle="modal" data-target="#exampleModalCenter" hidden>
                </button>
              {% if UA != "" %}
  
              <script type="text/javascript">
                $(document).ready(function(){
                  document.getElementById("trbutton").click();
                });
                </script>
                {% endif %}
              <div
                class="modal fade"
                id="exampleModalCenter"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalCenterTitle"
                aria-hidden="true"
                href="/requestDataset/{{ forloop.counter }}"
              >
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">
                        Confirmation
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {{ UA }} <br>
                      Are you sure?
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        
                      >
                        NO
                      </button>
                      <a style="color: white;text-decoration:none" href="/send_req/{{ Id }}"><button type="button" class="btn btn-primary">YES</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="{% static 'homejs/jquery.min.js' %}"></script>
    <script src="{% static 'homejs/popper.js' %}"></script>
    <script src="{% static 'homejs/bootstrap.min.js' %}"></script>
    <script src="{% static 'homejs/main.js' %}"></script>
  </body>
</html>
